div.fcc-stow-sermon-post
{
    position:relative;
    padding-left: 7em;
    padding-right: 7em;
}

div.fcc-stow-sermon-post h2,span,a
{
}

div.fcc-stow-sermon-post span.fcc-stow-sermon-date
{
    position:absolute;
    left:0em;
}


div.fcc-stow-sermon-post span.fcc-stow-sermon-title
{
}

div.fcc-stow-sermon-post span.fcc-stow-sermon-speaker
{
    display:none;
}

div.fcc-stow-sermon-post a.fcc-stow-sermon-audio-file
{
    position:absolute;
    right:0em;
}



/* included stylesheet */